.tulisan{
    font-family: poppins;
    
}

body{
    background-image: url(bg.png);
}

@media screen and (max-width: 767px) {
    .dokter{
        display: none;
    }
    .data{
        margin-top: -60px;
    }
}